.logo{
    width: 100px;
    height: auto;
}

header{
    position:fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.logoutBtn{

    width: 80px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: rgba(186, 155, 216, 0.2);
    text-align: center;
    
    
}